body{
    background-image: url('black.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: pink;
    color: #fff;
}

#bookTable{
    color: #fff;
    
}
.modal{
    color: #000;
}